<br /><br />
<table class="table">
    <tr class="row">
        <td ng-repeat="img in imageData">
            <img ng-src="{{img.src}}" class="img-responsive" title="{{img.description}}" alt="{{img.description}}" ng-click="{{img.id}}" />
        </td>
    </tr>
</table>