<div ng-app="studentdata">
    <div class="h1">Student data app</div><br/>
    <div ng-controller="MainController">           

        <div ng-hide="viewID == 1 || viewID==2" ng-include="template[0]"></div>
        <div ng-show="viewID ==1" ng-include="template[viewID]" ></div>                 
        <div ng-show="viewID ==2" ng-include="template[2]"></div>   
    </div>
</div>
