<div ng-app="studentdata">
    <div class="h1">Student data app</div><br/>
    <div ng-controller="MainController">
        <div>This app provides features to add and delete data student data</div>
        <div ng-include="'../Template/DefaultHomePage.cshtml'">            
        </div>  
    </div>
</div>